@using VacaYAY.Data.Entities;
@using VacaYAY.Data.Enums;
@model Contract
@{
    ViewData["Title"] = "Contract details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <iframe src="@Model.DocumentURL" height="1200" width="1200" frameborder="0" />
</div>

