@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <a asp-controller="Requests" asp-action="CreateRequest" class="btn btn-primary">New vacation request</a>
    </div>
</div>
